#########################################
# wallet-blockchain-interface env vars

MOCKNET_ADDRESS=dev-oracle.dlc.link
TEST_MODE_ENABLED=false # Enable test mode for endpoints
TLS_ENABLED=false       # Enable TLS for endpoints
ROUTER_WALLET_ADDRESS=http://127.0.0.1:8085

# Valid chains:
#   ETH_MAINNET, ETH_SEPOLIA, ETH_GOERLI, ETH_LOCAL,
#   STACKS_MAINNET, STACKS_TESTNET, STACKS_MOCKNET, STACKS_LOCAL

# Chain & Contract configs
CHAIN=STACKS_MOCKNET  # Chain to use
VERSION=1             # Version of the contract (1 is latest currently)
API_KEY=              # API key for the chain (Infura)
PRIVATE_KEY=          # Admin private key for the chain (protocol-wallet)

# There are two ways to configure the attestator endpoints:
# 1. Use the ATTESTOR_CONFIG variable to select a preset from './config/attestor-list.ts'
ATTESTOR_CONFIG=devnet
# 2. Manually configure the attestor endpoints using the ATTESTOR_LIST variable
# ! NOTE: This will override the ATTESTOR_CONFIG variable
ATTESTOR_LIST= # Comma separated list of attestor endpoints


#########################################
# protocol-wallet env vars

# Generate these using the included script: `just generate-key`
XPRIV=
FINGERPRINT=

# For DLC.Link Bitcoin Mocknet
ELECTRUM_API_URL=https://devnet.dlc.link/electrs
BITCOIN_NETWORK=regtest
STORAGE_API_ENDPOINT=https://devnet.dlc.link/storage-api
# For Bitcoin Testnet
#ELECTRUM_API_URL=https://blockstream.info/testnet/api
#BITCOIN_NETWORK=testnet
#STORAGE_API_ENDPOINT=http://testnet.dlc.link/storage-api

BITCOIN_CHECK_INTERVAL_SECONDS=60
CONTRACT_CLEANUP_ENABLED="false"
RUST_LOG=debug,dlc_protocol_wallet=debug
RUST_BACKTRACE=full
