# Common
MOCKNET_ADDRESS=stx-btc1.dlc.link

TEST_MODE_ENABLED=false # Enable test mode for endpoints
TLS_ENABLED=false       # Enable TLS for endpoints

# Valid chains:
#   ETH_MAINNET, ETH_SEPOLIA, ETH_GOERLI, ETH_LOCAL,
#   STACKS_MAINNET, STACKS_TESTNET, STACKS_MOCKNET, STACKS_LOCAL

# Chain & Contract configs
CHAIN=ETH_LOCAL # Chain to use
VERSION=1       # Version of the contract
API_KEY=        # API key for the chain (Infura)
PRIVATE_KEY=    # Admin private key for the chain

PUBLIC_PORT=3003  # Public port for the wbi
PORT=3001         # Private port for the wbi
ROUTER_WALLET_ADDRESS=http://127.0.0.1:8085

# There are two ways to configure the attestator endpoints:
# 1. Use the ATTESTOR_CONFIG variable to select a preset from './config/attestor-list.ts'
ATTESTOR_CONFIG=local
# 2. Manually configure the attestor endpoints using the ATTESTOR_LIST variable
# ! NOTE: This will override the ATTESTOR_CONFIG variable
ATTESTOR_LIST= # Comma separated list of attestor endpoints
