ORACLE_URL="https://dev-oracle.dlc.link/oracle"

# For Internal DLC.Link Bitcoin Mocknet
# ELECTRUM_API_URL="https://dev-oracle.dlc.link/electrs/"
# For Bitcoin Testnet
ELECTRUM_API_URL="https://blockstream.info/testnet/api/"
# For Bitcoin Mainnet
# ELECTRUM_API_URL="https://blockstream.info/api/"

CONTRACT_CLEANUP_ENABLED="false" # Used to clear out the contract database, intended for testing purposes
BITCOIN_CHECK_INTERVAL_SECONDS=10 #min of 10
BITCOIN_NETWORK="regtest"
DOCKER_PUBLIC_REGISTRY_PREFIX="public.ecr.aws/dlc-link/"
FUNDED_URL="https://stacks-observer-mocknet.herokuapp.com/funded"
RUST_LOG="warn,dlc_protocol_wallet=debug" # Set to "debug" for more verbose logging
RUST_BACKTRACE="full"
STORAGE_API_ENDPOINT="https://dev-oracle.dlc.link/storage-api"
