# Common
MOCKNET_ADDRESS=dev-oracle.dlc.link

TEST_MODE_ENABLED=false # Enable test mode for endpoints

# Valid chains:
#   ETH_MAINNET, ETH_SEPOLIA, ETH_GOERLI, ETH_LOCAL,
#   STACKS_MAINNET, STACKS_TESTNET, STACKS_MOCKNET, STACKS_LOCAL

# Chain & Contract configs
CHAIN=ETH_LOCAL # Chain to use
VERSION=1       # Version of the contract
API_KEY=        # API key for the chain (Infura)
PRIVATE_KEY=    # Admin private key for the chain
